.idea
.idea/**/gradle.xml
.idea/**/libraries
cmake-build-debug/
.idea/**/mongoSettings.xml

*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
.idea/replstate.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.iml
modules.xml
.idea/misc.xml
*.ipr

### Java ###
*.class
/log
*.ctxt
.mtj.tmp/
hs_err_pid*
.gradle
*/build/
gradle-app.setting
!gradle-wrapper.jar
.gradletasknamecache

.DS_Store
logs
/build-repo
/classes
/0-doc/db/danakilat.mwb.bak

## Development
/application-local.yml
/application-staging.yml
/config/application.yml
/config/application-*.yml
/logback.xml
/output.txt

gradle/
gradlew
gradlew.bat